@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-dark: #102216;

  --bg-dark-2: #1d2e24;

  --bg-dark-3: #28392e;

}
body {
  min-height: 100vh;
  color: #ffffff;
    background-image: linear-gradient(to bottom right,
      var(--bg-dark),
      var(--bg-dark-2),
      var(--bg-dark));
  max-width: 1440px;
  margin: auto;
  font-family: var(--font-georgia);
}


.header {
    
}
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: var(--font-helvetica);
 }